@import "tailwindcss";

@theme {
    --color-orange: #EC5530;
    --color-gray-light: #F4F4F4;
    --color-gray-dark: #686868;
    --color-gray-text: #6A6A6A;
    --color-dark: #11141B;
    --color-dark-blue: #1F232B;
    --color-gray-extra-light: #DFE6EE;
    --color-white-dark: #F0F3FAC2;
}

@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Mulish-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Mulish-Bold.woff2") format("woff2");
}

@theme {
    --font-mulish: "Mulish", sans-serif;
}
